.main-screen {
  .block {
    &-left {
      width: 400px;
      height: 10px;
      color: $colorWhite;
      padding-top: 180px;

      .title {
        font-size: 35px;

      }

      .description {
        list-style: none;
        li {
          font-size: 14px;
          line-height: 16px;
          margin-top: 16px;
          &:first-child {
            margin-top: 0;
          }
          span {
            font-weight: bold;
          }
        }
      }

      .book-lesson {
        display: flex;
        font-size: 16px;
        margin-top: 32px;
      }

      .button {
        display: flex;
        justify-content: center;
        line-height: 56px;
        font-size: 16px;
        font-weight: bold;
        color: $colorWhite;
        border-radius: 100px;
        cursor: pointer;
        background: linear-gradient(90deg, #FCA100 10%, #FFC400 70%);
        margin-top: 38px;
      }
    }

    &-right {
      flex: 1;
      padding-top: 90px;

      .image {
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 260px;
        background-image: url("./../../assets/images/Comp 1_1 1.png");
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
  }
}
